<div class="request-bg">
    <div class="my-container">
        <h1>Community icons</h1>
            <br>
            <div class="cards">
                <% @requests.each do |request| %>
                    <%= cl_image_tag request.photo.key, width: 300, height: 300, crop: :fill, class: "card-category" %>
                <% end %>
            </div>
    </div>
</div>