<div class="request-bg">
    <div class="my-container">
        <h1>Your <%= @request.style.name %> icon request </h1>
        <p>"<%= @request.topic %> with <%= @request.style.name %> style and color code: <%= @request.color %>"</p>
    </div>
</div>