<div class="my-container">
    <div class="home-bg">
        <h1>Cookie Management</h1>
        <p>Cookies are minor text files placed on your device during website visits. We employ these cookies to enhance user experience, analyze website interactions, and tailor content and advertisements.</p>

        <p>You can adjust your cookie preferences below. Be aware that deactivating certain cookies may restrict access to specific functionalities of our website.</p>

        <h3>Our Cookie Usage</h3>
        <p>We utilize cookies to enrich your experience and gather insights on website engagement. Here's a breakdown of the cookies in use:</p>

        <h4>Google Analytics</h4>
        <p>Google Analytics helps us understand user behavior on our website. It anonymously gathers data, such as visitor counts, origins, and page visits, aiding in report generation and website enhancement.</p>

        <h4>Stripe (Essential)</h4>
        <p>Stripe serves as our payment platform, facilitating secure online transactions. It temporarily holds payment data, like credit card details, during transaction processing. You can adjust Stripe cookie settings at <a href="https://stripe.com/cookie-settings">https://stripe.com/cookie-settings</a>.</p>

        <p>Stripe uses cookies for session information and payment status. These are vital for transaction completion and remain in the user's browser until the process concludes. Besides payment cookies, Stripe may deploy others for performance, user interaction analysis, and targeted advertising. These are optional, and you can opt out. Review Stripe's privacy policy for any concerns.</p>

        <h4>Authentication (Essential)</h4>
        <p>We employ next-auth for user authentication in our app. This library enables easy sign-up and use through third-party services like Google.</p>
    </div>
</div>