<div class="my-container">
    <div class="home-bg">
        <%= image_tag "logo.png", style: "height: 100px" %>
        <h1>Refund Policy</h1>
        <p>Last updated: Jan 20th, 2024

        <p> At wallylogos.com, we pride ourselves on delivering a distinctive and creative experience with our AI-generated icons. Please be mindful that while AI technology is advanced and transformative, it might not always align with your expectations. We encourage you to acknowledge this inherent limitation before any purchase.</p>

        <p>Due to the significant expenses associated with running the high-end GPUs required for our AI-generated art, we are unable to issue refunds once credits have been utilized. This policy, while not ideal for everyone, is essential in keeping our service equitable and viable for all our esteemed customers.</p>

        <p>Your understanding and support are greatly appreciated. As we continue to refine and advance our AI technology, we invite you to be a part of our exciting journey in the realm of digital art.</p>

        <p>If you have any questions or concerns, please contact us at info@wallylogos.com.</p>

        <p>Thank you for your support!</p>

        <p>Wally Logos Team</p>
    </div>
    </div>
</div>