<div class="my-container">        
    <h1>Terms and Conditions</h1>
        <p>Last Updated: Jan 20th, 2024</p>
        <p>Please review these terms carefully before utilizing our Service.</p>

        <h3>Understanding and Definitions</h3>
        <p>Capitalized terms in this document are defined as follows. These definitions are applicable in singular and plural forms.</p>

        <h4>Definitions</h4>
        <ul>
            <li><strong>Affiliate</strong> refers to an entity with control, or under the control of, or under common control with a party, where control is 50% or more of voting securities.</li>
            <li><strong>Country</strong> refers to Tennessee, United States.</li>
            <li><strong>Company</strong> (also "We", "Us", "Our") refers to Wally Logos team</li>
            <li><strong>Device</strong> means any device accessing the Service, like a computer or smartphone.</li>
            <li><strong>Service</strong> is the Website.</li>
            <li><strong>Terms</strong> refer to these Terms and Conditions.</li>
            <li><strong>Third-party Social Media Service</strong> means any service by a third-party displayed or available through our Service.</li>
            <li><strong>Website</strong> is wallylogos.com, accessible from wallylogos.com.</li>
            <li><strong>You</strong> refers to the individual or entity using the Service.</li>
        </ul>

        <h3>Acknowledgment</h3>
        <p>By using our Service, you agree to these Terms. If you disagree with any part, please refrain from using the Service. Your use is also conditional on your acceptance of our Privacy Policy.</p>

        <h3>Refund Policy</h3>
        <p>Our refund policy is applicable upon purchasing credits. Understanding the limitations of AI art, such as potential inaccuracies, is essential. By buying credits, you accept the risk of imperfect results.</p>

        <h3>External Links</h3>
        <p>Our Service may include links to third-party websites or services, which are not under our control. We are not responsible for any damage or loss caused by these external sites.</p>

        <h3>logo Generation</h3>
        <p>We may use your generated logos for promotional purposes across various platforms.</p>

        <h3>Service Termination</h3>
        <p>We reserve the right to terminate or suspend your access for any reason, effective immediately if you breach these Terms.</p>

        <h3>Limitation of Liability</h3>
        <p>Our Service uses OpenAI technology. We are not responsible for any damages or losses resulting from the generated images. Our liability is limited to the amount paid by you or 100 USD if no purchase was made.</p>

        <h3>Service Disclaimer</h3>
        <p>The Service is provided "AS IS" without any warranties. We do not guarantee uninterrupted or error-free service, nor the accuracy of content provided.</p>

        <h3>Governing Law and Dispute Resolution</h3>
        <p>These Terms are governed by the laws of Catalunya, Spain. Any disputes should first be addressed informally with the Company.</p>

        <h3>Severability and Waiver</h3>
        <p>If any provision is unenforceable, it will be modified to reflect its intent, with all other provisions remaining in effect. Failure to enforce any right does not waive that or any other right.</p>

        <h3>Terms Modification</h3>
        <p>We may modify these Terms at our discretion. Changes will be effective after reasonable notice.</p>

        <h3>Contact Us</h3>
        <p>For questions about these Terms, contact us at info@wallylogos.com</p>
</div>