.form-select {
    border-radius: 15px;
}

.form-control {
    border-radius: 15px;
}

placeholder {
    color: rgb(156, 156, 156);
}

.form-check {
    width: fit-content;
    margin: 0px auto;
    label {
        font-weight: 300;
    }
}

label, legend {
    font-weight: 700;
    margin-top: 25px;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 15em;
    padding: 0;
    width: 15em;
 }

.form-colors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#request_color, #request_background_color {
    width: 100px;
    height: 70px;
    margin: 0px auto;
    border-radius: 5px;
}

.category-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-item {
    flex: 0 0 30%;
}

.category-selector {
    position: absolute;
    transform: scale(0);
  }
  
  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px 10px 30px 10px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    background-color: white;
    height: 200px;

  }
  
  .category-selector:checked + label {
    color: white !important;
  }
  
  
  #request_style_id_10 + label {
    color: #ffffff;
    background-image: asset-url('metallic-style.png');
    background-color: rgb(232, 221, 221);
    background-size: cover;
  }
  
  #request_style_id_10:checked + label {
    border-color: #fbfafa;
    border-width: 3px;
    box-shadow: 0 0 0 3px #fbfafa;
  }
  
  
  #request_style_id_11 + label {
    color: #FFC65A;
    background-color: black;
    background-size: cover;
  }
  
  #request_style_id_11:checked + label {
    border-width: 3px;
    box-shadow: 0 0 0 3px #fbfafa;
  }
  
  
  #request_style_id_12 + label {
    background-image: asset-url('flat-style.png');
    color: rgb(255, 255, 255);
    background-size: cover;
  }
  
  #request_style_id_12:checked + label {
    border-width: 3px;
    box-shadow: 0 0 0 3px #fbfafa;
  }