.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.dropdown-menu {
  background-color: #333333;
}

#burger-icon {
  color: white;
  font-size: 2rem;
  margin: 2px;
  padding-left: 2px;
}
